# Get the correct format of your key using: cat ~/.ssh/id_rsa | awk 'ORS="\\n"'
SSH_KEY=-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----

SECRETS_REPO=
SECRETS_DIR=/opt/dev/atmosphere-docker-secrets
